<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui1.css" />
    <link rel="stylesheet" type="text/css" href="../../css/home.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/vant.css" />
    <link rel="stylesheet" type="text/css" href="../../css/dialogAlert.css">
    <link rel="stylesheet" type="text/css" href="../../css/main_frame.css">
    <style>

    </style>
</head>

<body>

    <div id="wrap" class="flex-wrap flex-vertical" v-cloak>
        <header class="aui-bar aui-bar-nav" id="navHeader">
            <div class="aui-pull-left aui-btn">

            </div>
            <!-- <div class="left" v-if="allTenants.length>1">
                <div class="orgName">{{tenantName}}</div>
                <div class="arrowDiv" tapmode @click="openTenantSelect"><img src="../../image/main_frame/orgDownArrow.png" class="arrow" :class="{active:showTenantSelect}"></div>
            </div> -->
            <!-- <div class="left" v-else>
                <div class="orgNameSingle">{{tenantName}}</div>
            </div> -->
            <div class="left">
                <div class="orgNameSingle">{{tenantName}}</div>
            </div>
            <div class="right">
                <div class="list">
                    <img src="../../image/main_frame/sousuo.png" tapmode @click="openSearchApp" />
                </div>
                <!-- 扫码快捷登录云平台pc端 -->
                <!-- <div class="list">
                    <img src="../../image/main_frame/saomiao.png" tapmode @click="openScan" />
                </div> -->
                <div class="list" tapmode @click="changeView()">
                    <img src="../../image/main_frame/changelist.png" v-if="appView == 'app'" />
                    <img src="../../image/main_frame/changeicon.png" v-else/>
                </div>
            </div>
        </header>
        <div class="bannerDiv" id="bannerDiv">
            <img id="banner" class="banner" :src="bannerImage">
        </div>

        <!-- 消息开始 -->
        <div class="noticeDiv aui-border-b">
            <i class="aui-iconfont icon-z"></i>
            <van-swipe class="noticeSwipe" vertical autoplay="3000" :show-indicators="false" :touchable="false">
                <van-swipe-item v-for="(notice,index) in notices" :key="index" @click="openNoticeDetail(notice)">{{notice.title}}-{{notice.content}}</van-swipe-item>
                <van-swipe-item v-if="notices.length == 0">暂无公告消息</van-swipe-item>
            </van-swipe>
            <div class="moreDiv">
                <span class="aui-list-item-title open-win" win='../message/NoticeMessage' tapmode>更多</span>
            </div>
        </div>
        <!-- 消息结束 -->

        <div class="newTask" v-show='isShowClaimBox'>
            <div class="newTaskNotice" @click="openClaimTask">
                <div class="noticeDot"></div>
                <div class="newTaskText">
                    {{claimContent}}
                </div>
            </div>

            <div class="claimAllTask" v-show='showClaimBtn' @click='ConfirmTaskAll("home")'> 一键认领
            </div>
        </div>

        <div id="main" class="flex-con">
            <!-- 我的审批开始  -->
            <div class="approve" v-show ='hasTaskListPower'>
                <div class="aui-card-list">
                    <div class="aui-card-list-header ">
                        <div class="pieTitleDiv">
                            <div class="pieTitle">
                                我的任务
                            </div>
                            <div class="pieBtnDiv">
                                <div class="aui-btn pieTitleBtn" tapmode @click="openMyTask(7)">
                                    立即查看
                                </div>
                            </div>
                        </div>
                        <div class="pieCharts" id="pie" ref="pieChart">
                        </div>
                    </div>
                    <div class="aui-card-list-content">
                        <ul class="flex-wrap">
                            <li tapmode="hover" class="flex-con" @click="openMyInitiate">
                                <span class="taskNum">{{taskCountSum.launchNumber}}</span>
                                <div class="taskType">
                                    <div class="taskTypeIcon"></div>
                                    <span>已发起</span>
                                </div>
                            </li>
                            <li tapmode="hover" class="flex-con" @click="openMyTask(7)">
                                <span class="taskNum">{{taskCountSum.waitNumber}}</span>
                                <div class="taskType">
                                    <div class="taskTypeIcon"></div>
                                    <span>待处理</span>
                                </div>
                            </li>
                            <li tapmode="hover" class="flex-con" @click="openMyTask(4)">
                                <span class="taskNum">{{taskCountSum.handledNumber}}</span>
                                <div class="taskType">
                                    <div class="taskTypeIcon"></div>
                                    <span>已处理</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 抄表管家更新数据 -->
            <div class="cbUpdateData" v-show='isShowOperationBtnsBox'>
                <div v-show='showCbUpdateBtn' class="cbUpdateData-Btn"  @click='updateCbData'>
                    抄表数据更新
                </div>
                <div style="display:none">
                  <div  v-show='showClearDataBtn'  class="cbUpdateData-Btn1" @click='onClearLocalCompletedData'>
                      任务数据及照片清理
                  </div>
                </div>
            </div>

            <!-- 抄表管家更新数据结束 -->



            <!-- 我的审批结束  -->
            <!-- 应用部分开始 -->
            <section id="AppView" v-if="appView == 'app'">
                <div class="aui-card-list" v-for="(app,index1) in appList" :key="index1">
                    <div class="aui-card-list-header"><span class="headerDiv"><div class="headerLine"></div><span>{{app.title}}</span></span>
                        <div class="imgDiv">
                            <div class="imgDiv" tapmode @click="alertClassify(app,index1)"><img src="../../image/main_frame/update.png" id="ddImg" /></div>
                            <div class="imgDiv" tapmode @click="hideAppList(index1)">
                                <img src="../../image/main_frame/downarrow.png" class="downArrow" :class="{active_hide:app.hide}" />
                            </div>
                        </div>
                    </div>
                    <div class="aui-card-list-content appContent" v-show="!app.hide">
                        <div class="aui-row aui-row-padded" v-for="(rows,index2) in app.rowsData" :key="index2">

                            <div class="row" v-for="(row,index3) in rows" :key="index3">
                                <div class="aui-col-xs-3" tapmode @click="openApp(row)" v-if="!row.isAdd && row.isValid">
                                    <div class="appRow">
                                        <img :src="row.logoUrl" :class="{gray:!row.isValid}" onerror="this.src='../../image/main_frame/default1.png'" />{{row.productName}}
                                    </div>
                                </div>



                                <!-- 静态换表任务 -->
                                <!-- <div class="aui-col-xs-3" tapmode onclick="openTask()">
                                    <div class="appRow">
                                        <img src="{{row.logoUrl}}" :class="{gray:!row.isValid}" onerror="this.src='../../image/main_frame/default1.png'" />Task
                                    </div>
                                </div> -->
                                <!-- 静态换表任务 -->

                                <div class="aui-col-xs-3" v-if="row.isAdd">
                                    <div class="appRow">
                                        <img src="../../image/main_frame/addApp.png" tapmode @click="addApp(app.id)" />添加应用
                                    </div>
                                </div>
                            </div>
                            <!--zxf 测试组件化开发  -->
                            <!-- <div class="row">
                              <div class="aui-col-xs-3" tapmode @click="openApp(1)">
                                  <div class="appRow">
                                      <img />复核管理
                                  </div>
                              </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- <div @click='tocq()'>重庆</div> -->
            <!-- <div @click='tojh()'>稽核</div> -->
            <section id="ListView" v-else>
                <div class="aui-card-list" v-for="(app,index1) in appList" :key="index1">
                    <div class="aui-card-list-header"><span>{{app.title}}</span>
                        <div class="imgDiv">
                            <div class="imgDiv" tapmode @click="alertClassify(app,index1)" data-param="{{app}}"><img src="../../image/main_frame/update.png" id="ddImg" /></div>
                            <div class="imgDiv" tapmode @click="hideAppList(index1)">
                                <img src="../../image/main_frame/downarrow.png" class="downArrow" :class="{active_hide:app.hide}" />
                            </div>
                        </div>
                    </div>
                    <div class="aui-card-list-content appContent" v-show="!app.hide">
                        <ul class="aui-list aui-media-list">

                            <li class="aui-list-item aui-list-item-middle" tapmode @click="openApp(item)" v-for="(item,index2) in app.applications" :key="index2" v-if="!item.isAdd">
                                <div class="aui-media-list-item-inner">
                                    <div class="aui-list-item-media imgIcon">
                                        <img :src="item.logoUrl" :class="{gray:!item.isValid}" onerror="this.src='../../image/main_frame/default1.png'" />
                                    </div>
                                    <div class="aui-list-item-inner">
                                        <div class="aui-list-item-text">{{item.productName}}</div>
                                    </div>
                                </div>
                            </li>

                            <li class="aui-list-item aui-list-item-middle addAppLi">
                                <div class="aui-media-list-item-inner">
                                    <div class="aui-list-item-inner">
                                        <div class="addApp" tapmode @click="addApp(app.id)">添加应用</div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
            <!-- 应用部分结束 -->
        </div>
    </div>



</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/addNewScript.js"></script>
<script type="text/javascript" src="../../script/zepto.js"></script>
<!-- <script type="text/javascript" src="../MeterManage/script/meterManageLocalData.js"></script>
<script type="text/javascript" src="../Audit/JavaScript/AuditTable.js"></script> -->
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript" src="../../script/moment.js"></script>
<script type="text/javascript" src="../../script/diy/public.js"></script>
<script type="text/javascript" src="../../script/remote.js"></script>
<script type="text/javascript" src="../../script/homeEchart.js"></script>
<script type="text/javascript" src="../../script/echarts.min.js"></script>
<script type="text/javascript" src="../../script/aui-toast.js"></script>
<script type="text/javascript" src="../../script/versionInfo.js"></script>
<script type="text/javascript" src="../../script/vue/fastclick.min.js"></script>
<script type="text/javascript" src="../../script/vue/vue.min.js"></script>
<script type="text/javascript" src="../../script/vue/vant.min.js"></script>
<script type="text/javascript" src="../../script/main_frame.js"></script>

<script type="text/javascript">
    apiready = function() {
      // addNewField();//动态添加字符串
        fndecompressionZip();//解压压缩包  20200825 zxf
        api.addEventListener({
            name: 'changedFontSize'
        }, function(ret, err) {
            if (ret) {
                changeFontSize();
            }
        });
        if ($api.getStorage('isAppOrList') == undefined) {
            $api.setStorage('isAppOrList', 'app');
        }

        Origami.fastclick(document.body) //消除vue的ios端点击延迟
        api.parseTapmode();
        var header = $api.byId('navHeader');
        var banner = $api.byId('bannerDiv');
        FNScanner = api.require('FNScanner');

        // 实现沉浸式状态栏效果
        $api.fixStatusBar(header);
        getCurrentLocation(); //获取当前定位
        fnInVue();
        // 计算header和nav元素的高度
        headerH = $api.offset(header).h;
        bannerH = $api.offset(banner).h;
        fnReady();
        // 模拟登陆，每次进入页面就登录一次 zxf 2020-04-13
        if (api.connectionType != 'none') {
            automaticLanding();
        }
        var jpushVip = api.require('jpushVip');
        jpushVip.setListener(
            function(ret) {
              MainVue.GetUnconFirmedTaskCount();
              MainVue.GetTaskCount();
            }
        );

        // 下拉刷新
        api.setRefreshHeaderInfo({
            visible: true,
            bgColor: '#F0F0F0',
            textColor: '#999999',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function(ret, err) {
            setTimeout(function() {
                api.refreshHeaderLoadDone();
                api.sendEvent({
                    name: 'refreshMain',
                });
                location.reload();
            }, 500);
        });

        // 监听是否修改了服务器地址
        api.addEventListener({
            name: 'changeApiUrl'
        }, function(ret, err) {
            if (ret) {
                location.reload();
            }
        });

        api.addEventListener({
            name: 'addClassify' //新增分类
        }, function(ret, err) {
            if (ret) {
                var body = {
                    body: JSON.stringify({
                        title: ret.value.title,
                        notDelete: false
                    })
                }
                fnPost('services/app/Home/InsertCustomizeTitle', body, 'application/json', true, false, function(ret, err) {
                    api.hideProgress();
                    if (ret && ret.success) {
                        var item = ret.result;
                        item['applications'] = [];
                        MainVue.appData.push(item);
                    }
                })
            }
        });

        api.addEventListener({
            name: 'editClassify' //修改分类
        }, function(ret, err) {
            if (ret) {
                var body = {
                    body: JSON.stringify({
                        title: ret.value.title,
                        id: ret.value.id,
                        sort: ret.value.sort
                    })
                }
                var index = ret.value.index;
                fnPost('services/app/Home/UpdateCustomizeTitle', body, 'application/json', true, true, function(ret, err) {
                    api.hideProgress();
                    if (ret && ret.success) {
                        MainVue.appData[index].title = ret.result.title;
                    }
                })
            }
        });

        api.addEventListener({
            name: 'deleteClassify' //删除分类
        }, function(ret, err) {
            if (ret) {
                var index = ret.value.index;
                var id = ret.value.id;
                fnGet('services/app/Home/DeleteCustomizeTitle?Id=' + id + '', {}, true, function(ret, err) {
                    api.hideProgress();
                    if (ret && ret.success) {
                        MainVue.appData.splice(index, 1);
                    }
                })
            }
        });

        api.addEventListener({
            name: 'refreshAppList' //添加应用后刷新首页应用分类列表
        }, function(ret, err) {
            if (ret) {
                MainVue.getAppList();
            }
        });

        var main = document.getElementById('main');

        main.addEventListener('touchstart', function() {
            //触摸开始，屏蔽滑动
            api.setFrameAttr({
                name: 'main_frame',
                bounces: false
            });
        });
        main.addEventListener('touchmove', function() {
            //触摸滚动，屏蔽滑动
            api.setFrameAttr({
                name: 'main_frame',
                bounces: false
            });
        });
        main.addEventListener('touchend', function() {
            //触摸结束，释放滑动
            api.setFrameAttr({
                name: 'main_frame',
                bounces: true
            });
        });

        // 监听网络 19-12-12 zxf(组件化)
        api.addEventListener({
            name: 'online'
        }, function(ret, err) {
            if (ret) {
                automaticLanding();
                setTimeout(function(){
                    location.reload();
                }, 500)
            }
        });
        // 监听断开网络 19-12-12 zxf(组件化)
        api.addEventListener({
            name: 'offline'
        }, function(ret, err) {
            if (ret) {
                MainVue.isNetWork();
            }
        });
        // 版本更新
        api.addEventListener({
            name: 'updateVersion'
        }, function(ret, err) {
            if (ret) {
                downLoadZip();
                addNewField();
            }
        });
        // 监听通知是否是认领类型
        api.addEventListener({
            name: 'udpateclaimContent'
        }, function(ret, err) {
            if (ret) {
                vueInitData.claimContent = "您有新收到的任务!";
            }
        });
        // 检测是否开启GPS zxf 2020-04-12
        api.addEventListener({
            name: 'oneMinuteCheckGPS'
        }, function(ret, err) {
            if (ret) {
                oneMinuteCheckGPS();
            }
        });
        // 应用返回前台
        api.addEventListener({
                name: 'resume'
            }, function(ret, err) {
                if (api.connectionType != "none") {
                    MainVue.getAppList();
                }
            })
            // 监听认领页面关闭时刷新任务认领数量
        api.addEventListener({
            name: 'updataConFirmedNumber'
        }, function(ret, err) {
            if (ret) {
                MainVue.GetUnconFirmedTaskCount();
                MainVue.GetTaskCount();
            }
        });
        // 监听任务处理后，返回页面刷新首页数据
        api.addEventListener({
            name: 'refreshCloudMyTask'
        }, function(ret, err) {
            if (ret) {
                MainVue.GetUnconFirmedTaskCount();
                MainVue.GetTaskCount();
            }
        });

        //
        api.addEventListener({
            name: 'updateGetHome'
        }, function(ret, err) {
            if (ret) {
                MainVue.getAppList();
                fndecompressionZip();//解压压缩包 20200825 zxf
            }
        });

        // 本地数据清除成功 zxf 6-4
        api.addEventListener({
            name: 'clearLocalDataSuccess'
        }, function(ret, err){
            if( ret ){
              vant.Toast('本地已上传数据清除成功');
            }
        });

        initLocalStorage();

    };

    function initLocalStorage() {
        if ($api.getStorage('historyMyTaskFilter') == undefined) {
            var historyMyTaskFilter = {
                typeName: "全部任务",
                typeId: 0,
                productId: 0,
                searchValue: ""
            };
            $api.setStorage('historyMyTaskFilter', historyMyTaskFilter);
        }
        // 表务工单办理图片是否单独上传 默认开启 zxf
        if ($api.getStorage('meterManageUploadPicture') == undefined) {
            $api.setStorage('meterManageUploadPicture', 1);
        }
        //贴单任务 - 数据单独上传设置，默认开启   2020-05-24   zlx
        if ($api.getStorage('stopWaterDataUpload') == undefined) {
            $api.setStorage('stopWaterDataUpload', 1);
        }

        //表务照片 提交后是否保存到本地 默认为是 2020-05-25 zlx
        if ($api.getStorage('meterManageSaveLocation') == undefined) {
            $api.setStorage('meterManageSaveLocation', 1);
        }

        //稽核照片-单独上传设置 默认为单独上传 2020-05-25 zlx
        if ($api.getStorage('auditImgsUpload') == undefined) {
            $api.setStorage('auditImgsUpload', 1);
        }
        //稽核照片 提交后是否保存到本地 默认为是 2020-05-25 zlx
        if ($api.getStorage('auditSaveLocation') == undefined) {
            $api.setStorage('auditSaveLocation', 1);
        }

    }
    function tocq(){
      api.openWin({
          name: 'CQ_APP',
          url: '../CqMeterReading/index.html',
          pageParam: {
              name: 'test'
          }
      });

    }
    function tojh(){
      api.openWin({
          name: 'JH_APP',
          url: '../ReviewManagement/html/login/login.html',
          pageParam: {
              name: 'test'
          }
      });

    }
</script>

</html>
