<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>关于版本</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui1.css" />
    <link rel="stylesheet" type="text/css" href="../../css/vant.css" />
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            background-color: #FFF;
        }

        .aui-bar-nav {
            top: 0;
            z-index: 1;
            background-color: #fff;
            color: #333333;
            font-size: 0.9rem;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0rem;
        }

        .aui-bar-nav .aui-btn .aui-iconfont {
            color: #333333;
            font-weight: 900;
        }

        .aui-list:after {
            display: none;
        }

        .aui-list {
            background-image: none !important;
        }

        .aui-list-item-arrow:before {
            border-color: #A2A2A2;
        }

        .mine_List .aui-list .aui-list-item-media {
            width: 2.0rem;
            padding-right: 0 !important;
        }

        .mine_List .aui-list .aui-list-item {
            min-height: 2.7rem !important;
            font-size: 0.75rem;
        }

        .aui-list .aui-list-item-text {
            font-size: 0.7rem;
        }

        .hasNewVersion {
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background: red;
            margin-right: 0.5rem;
        }

        .isShow {
            display: none;
        }

        .c-cloud-title {
            display: inline-block;
            float: left;
            /*width: 14.5rem;*/
        }
    </style>
</head>

<body>
    <div id="aboutVersionVue">
        <header class="aui-bar aui-bar-nav aui-border-b" id="header">
            <div class="aui-pull-left aui-btn" tapmode @click="api.closeWin();">
                <span class="aui-iconfont aui-icon-left"></span>
            </div>
            <div class="aui-title">版本信息与检测</div>
        </header>

        <div class="aui-content mine_List">
            <ul class="aui-list">
                <!-- <li class="aui-list-item" tapmode @click="fnCheckUpdate(0)" v-show="showCloudAppVersion"> -->
                  <li class="aui-list-item" tapmode @click="checkUpdateCloud" v-show="showCloudAppVersion">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-inner aui-list-item-arrow">

                            <span class='c-cloud-title'>综合水务平台 </span></span>
<!-- <span class="hasNewVersion" v-show='cloudHasUpdate'> -->
                            <div class="aui-list-item-text">
                              <!-- <span :class='cloudHasNew ? "hasNewVersion" : "" '></span> -->
                              <span class='hasNewVersion' v-show="cloudHasNew"></span>
                                <span>{{cloudVersionNo}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" v-for='(item,index) in versionListData' :key='index' tapmode @click="applicationUpdate(item)">
                    <div class="aui-list-item-inner" v-if='item.moduleCode!="WaterStarOne-Cloud-S9"'>
                        <div class="aui-list-item-inner aui-list-item-arrow">
                            {{item.moduleName}}
                            <div class="aui-list-item-text">
                                <!-- 用户判断是否有新的版本 -->
                                <span :class='{hasNewVersion:item.isHasNewVersion =="1"}'></span>
                                <!-- <span v-else class="hasNewVersion isShow"></span> -->
                                <span class='versionNo'>V{{item.versionNo}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript" src="../../script/remote.js"></script>
<script type="text/javascript" src="../../script/versionInfo.js"></script>
<script type="text/javascript" src="../../script/vue/fastclick.min.js"></script>
<script type="text/javascript" src="../../script/vue/vue.min.js"></script>
<script type="text/javascript" src="../../script/vue/vant.min.js"></script>
<script type="text/javascript">
    apiready = function() {
        api.addEventListener({
            name: 'changedFontSize'
        }, function(ret, err) {
            if (ret) {
                changeFontSize();
            }
        });
        api.parseTapmode();
        var header = $api.byId('header');
        // 实现沉浸式状态栏效果
        $api.fixStatusBar(header);
        headerH = $api.offset(header).h;
        api.addEventListener({
            name: 'updateVersionList'
        }, function(ret, err){
            if( ret ){
              aboutVersionVue.initList();
            }
        });

        initVue();
    };


    function initVue() {
        window.aboutVersionVue = new Vue({
            el: '#aboutVersionVue',
            data: {
                showCloudAppVersion: api.systemType == 'ios' ? false : true, //云平台app版本信息 （ios不显示）
                cloudVersionNo: "V" + api.appVersion, //云平台版本号
                cloudHasNew: false,  // 云平台是否显示有更新的红点
                versionListData: [], //app版本信息
                cloudHasUpdate: false, //云平台是否有新的版本
            },
            watch: {

            },
            methods: {
                // initList: function() { //初始化列表
                //     var _this = this;
                //     var db = api.require("db");
                //     var currentUserName = $api.getStorage('loginData').userName;
                //     // 缓存方式的组件化检测更新
                //     var userLoginInformation = $api.getStorage('userLoginInformation');
                //     // var versionInformation = userLoginInformation.versionInformation;
                //     var appList = userLoginInformation.appList[0].applications;
                //     // console.log(JSON.stringify(userLoginInformation));
                //     if (appList == null) {
                //         return;
                //     }
                //     // for (let v = 0; v < versionInformation.length; v++) {
                //     //     for (let a = 0; a < appList.length; a++) {
                //     //         if (versionInformation[v].moduleCode === appList[a].coding) {
                //     //             _this.versionListData.push(versionInformation[v]);
                //     //         }
                //     //     }
                //     // }
                //
                //     // 数据存储在本地数据库的版本检测更新方式
                //     db.selectSql({
                //         name: 'Wsdatabase',
                //         sql: 'SELECT * FROM VersionInfoSheets where userName = "'+currentUserName+'"'
                //     }, function(ret, err) {
                //         _this.versionListData = [];
                //         if (ret.status) {
                //             if (ret.data.length > 0) {
                //                 var data = ret.data;
                //                 for (var v = 0; v < data.length; v++) {
                //                     for (var a = 0; a < appList.length; a++) {
                //                         if (data[v].moduleCode === appList[a].coding) {
                //                             _this.versionListData.push(data[v]);
                //                         }
                //                     }
                //                 }
                //             }
                //
                //         }
                //     });
                // },
                initList: function() { //初始化列表
                    var _this = this;
                    var db = api.require("db");
                    var currentUserName = $api.getStorage('loginData').userName;
                    // 缓存方式的组件化检测更新
                    var userLoginInformation = $api.getStorage('userLoginInformation');
                    // var versionInformation = userLoginInformation.versionInformation;
                    var appList = userLoginInformation.appList[0].applications;
                    console.log(JSON.stringify(userLoginInformation));
                    if (appList == null) {
                        return;
                    }
                    // for (let v = 0; v < versionInformation.length; v++) {
                    //     for (let a = 0; a < appList.length; a++) {
                    //         if (versionInformation[v].moduleCode === appList[a].coding) {
                    //             _this.versionListData.push(versionInformation[v]);
                    //         }
                    //     }
                    // }

                    // 通过线上和本地数据库版本号对比
                    var userLoginInformation = $api.getStorage('userLoginInformation');
                    var versionCurentUserName = $api.getStorage('loginData') != undefined ? $api.getStorage('loginData').userName : "";
                    var getLoginInfo = $api.getStorage('getLoginInfo');
                    var getData = [];  // 获取线上数据
                    var benData = [];  // 获取本地数据库的数据
                    if (getLoginInfo != undefined) { //判断用户是否登录
                        fnPost('services/app/AppVersionService/CheckAppVsersionByTeantId', {
                            body: JSON.stringify({
                                "tenantId": getLoginInfo.tenantInfo.tenantId
                            })
                        }, 'application/json', true, false, function(ret, err) {
                          // console.log(JSON.stringify(ret));
                          if (ret.success) {
                            getData = ret.result;
                            db.selectSql({
                                name: 'Wsdatabase',
                                sql: 'SELECT * FROM VersionInfoSheets where userName = "'+currentUserName+'"'
                            }, function(ret1, err1) {
                              // console.log(JSON.stringify(ret1));
                              // console.log(JSON.stringify(err1));
                              benData = [];
                                _this.versionListData = [];
                                if (ret1.status) {
                                  // benData = ret1.data;
                                  if (ret1.data.length > 0) {
                                      var data = ret1.data;
                                      for (var v = 0; v < data.length; v++) {
                                          for (var a = 0; a < appList.length; a++) {
                                              if (data[v].moduleCode === appList[a].coding) {
                                                  // _this.versionListData.push(data[v]);
                                                  benData.push(data[v]);
                                              }
                                          }
                                      }
                                  }
                                  console.log(JSON.stringify(benData));
                                  console.log(JSON.stringify(getData));
                                  console.log(getData.length);
                                  if (getData.length != 0 && benData.length != 0) {
                                    for (var i = 0; i < benData.length; i++) {
                                      for (var j = 0; j < getData.length; j++) {
                                        console.log(benData[i].moduleCode);
                                        console.log(getData[j].moduleCode);
                                        console.log(j);
                                        if (benData[i].moduleCode == getData[j].moduleCode) {
                                          // alert(benData[i].versionNo != getData[j].versionNo || getData[j].packetUrl !== benData[i].packetUrl);
                                          if (benData[i].versionNo != getData[j].versionNo || getData[j].packetUrl !== benData[i].packetUrl) {
                                              db.executeSql({
                                                  name: 'Wsdatabase',
                                                  sql: ' UPDATE  VersionInfoSheets SET Id = ' + getData[j].id + ',sort = ' + getData[j].sort + ',newVersionNo = ' + getData[j].versionNo + ',tenantId = ' + getData[j].tenantId +
                                                      ',isHasNewVersion = "1",creationTime = "' + getData[j].creationTime + '",creatorUserId = "' + getData[j].creatorUserId + '",creatorUserName = "' + getData[j].creatorUserName +
                                                      '",lanApiUrl = "' + getData[j].lanApiUrl + '",netApiUrl = "' + getData[j].netApiUrl + '",remark = "' + getData[j].remark + '",tenantName = "' + getData[j].tenantName +
                                                      '",newPackageUrl = "' + getData[j].packetUrl +
                                                      '" WHERE moduleCode = "' + getData[j].moduleCode + '" and userName = "' + versionCurentUserName + '"'
                                              }, function(ret1, err1) {
                                                  if (ret1.status) {
                                                    // 更新成功
                                                  }
                                              });
                                          } else {

                                            // 没有新发版本，不操作数据库
                                          }
                                          // var newData = benData[i];
                                          // if (benData[i].isHasNewVersion == '1') {
                                          //   // 去比较一下线上版本是否与本地的newVersionNo是否一致，如果不一致，则有更新，否则没有更新
                                          //   if (Number(getData[j].versionNo) == Number(benData[i]).newVersionNo) {
                                          //     // 没有更新
                                          //     newData.isNew = '0';
                                          //     _this.versionListData.push(newData);
                                          //   }  else if (Number(getData[j].versionNo) > Number(benData[i]).newVersionNo){
                                          //     // 有更新
                                          //     newData.isNew = '1';
                                          //     _this.versionListData.push(newData);
                                          //   } else {
                                          //     // 线上版本小于本地版本，不更新
                                          //     newData.isNew = '0';
                                          //     _this.versionListData.push(newData);
                                          //   }
                                          // } else {
                                          //   // 为0，去比较线上版本是否与本地的versionNo一致，如果不一致，则有更新，否则没有更新
                                          //   if (Number(getData[j].versionNo) == Number(benData[i]).versionNo) {
                                          //     // 没有更新
                                          //     newData.isNew = '0';
                                          //     _this.versionListData.push(newData);
                                          //   }  else if (Number(getData[j].versionNo) > Number(benData[i]).versionNo){
                                          //     // 有更新
                                          //     newData.isNew = '1';
                                          //     _this.versionListData.push(newData);
                                          //   } else {
                                          //     // 线上版本小于本地版本，不更新
                                          //     newData.isNew = '0';
                                          //     _this.versionListData.push(newData);
                                          //   }
                                          // }
                                        }
                                      }
                                    }
                                    console.log(j);
                                    if (j == getData.length) {
                                      // 更新成功后再查询
                                      db.selectSql({
                                          name: 'Wsdatabase',
                                          sql: 'SELECT * FROM VersionInfoSheets where userName = "'+currentUserName+'"'
                                      }, function(ret, err) {
                                          _this.versionListData = [];
                                          if (ret.status) {
                                              if (ret.data.length > 0) {
                                                  var data = ret.data;
                                                  for (var v = 0; v < data.length; v++) {
                                                      for (var a = 0; a < appList.length; a++) {
                                                          if (data[v].moduleCode === appList[a].coding) {
                                                              _this.versionListData.push(data[v]);
                                                          }
                                                      }
                                                  }
                                              }
                                            console.log(JSON.stringify(_this.versionListData));
                                          }
                                      });
                                    }
                                  }
                                }
                            });
                          } else {
                            api.toast({
                                msg: '检查失败，请重试!',
                                duration: 2000,
                                location: 'top'
                            });
                          }
                          console.log(JSON.stringify(err));
                        })
                      }



                    // 数据存储在本地数据库的版本检测更新方式
                    // db.selectSql({
                    //     name: 'Wsdatabase',
                    //     sql: 'SELECT * FROM VersionInfoSheets where userName = "'+currentUserName+'"'
                    // }, function(ret, err) {
                    //     _this.versionListData = [];
                    //     if (ret.status) {
                    //         if (ret.data.length > 0) {
                    //             var data = ret.data;
                    //             for (var v = 0; v < data.length; v++) {
                    //                 for (var a = 0; a < appList.length; a++) {
                    //                     if (data[v].moduleCode === appList[a].coding) {
                    //                         _this.versionListData.push(data[v]);
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //       console.log(JSON.stringify(_this.versionListData));
                    //     }
                    // });
                },
                applicationUpdate: function(params) { // 检查版本是否有新的版本
                    var _this = this;
                    var userLoginInformation = $api.getStorage('userLoginInformation');
                    var versionCurentUserName = $api.getStorage('loginData') != undefined ? $api.getStorage('loginData').userName : ""; //全局变量 （当前登录用户账号）
                    var db = api.require("db");
                    if (params.isHasNewVersion == '1') { //有新的版本
                        vant.Dialog.confirm({
                            title: '提示',
                            message: '发现新版本,是否立即更新'
                        }).then(function() {
                            singleAppUpdate(params, true, function(ret) {
                              if(ret){
                                _this.remarkFrame(params);
                                addNewField();
                                fndecompressionZip();//解压压缩包 20200825 zxf
                                api.toast({
                                    msg: '版本更新成功!',
                                    duration: 2000,
                                    location: 'top'
                                });
                              }else {
                                api.toast({
                                    msg: "您的更新包出现异常！请联系管理员重新上传更新包",
                                    duration: 2000,
                                    location: 'top'
                                });
                              }

                            });

                        }).catch(function() {
                            // on cancel
                        });
                    } else {
                        // 调用接口，查询新的版本
                        var body = {
                            body: JSON.stringify({
                                "tenantId": userLoginInformation.loginSuccessData.allTenants[0].tenantId,
                            })
                        };
                        fnPost('services/app/AppVersionService/CheckAppVsersionByTeantId', body, 'application/json', true, false, function(ret, err) {
                            api.hideProgress();
                            if (ret && ret.success) {
                                var result = ret.result;
                                for (var i = 0; i < result.length; i++) {
                                    if (params.moduleCode == result[i].moduleCode) {
                                        if (params.versionNo != result[i].versionNo || result[i].packetUrl !== params.packetUrl) {
                                            db.executeSql({
                                                name: 'Wsdatabase',
                                                sql: ' UPDATE  VersionInfoSheets SET Id = ' + result[i].id + ',sort = ' + result[i].sort + ',newVersionNo = ' + result[i].versionNo + ',tenantId = ' + result[i].tenantId +
                                                    ',isHasNewVersion = "1",creationTime = "' + result[i].creationTime + '",creatorUserId = "' + result[i].creatorUserId + '",creatorUserName = "' + result[i].creatorUserName +
                                                    '",lanApiUrl = "' + result[i].lanApiUrl + '",netApiUrl = "' + result[i].netApiUrl + '",remark = "' + result[i].remark + '",tenantName = "' + result[i].tenantName +
                                                    '",newPackageUrl = "' + result[i].packetUrl +
                                                    '" WHERE moduleCode = "' + result[i].moduleCode + '" and userName = "' + versionCurentUserName + '"'
                                            }, function(ret1, err1) {
                                                if (ret1) {
                                                    _this.initList();
                                                    vant.Dialog.confirm({
                                                        title: '提示',
                                                        message: '发现新版本,是否立即更新'
                                                    }).then(function() {
                                                        db.selectSql({
                                                                name: 'Wsdatabase',
                                                                sql: 'SELECT * FROM VersionInfoSheets where moduleCode = "' + params.moduleCode + '" and userName = "' + versionCurentUserName + '"'
                                                            }, function(ret2, err2) {
                                                                if (ret2.status) {
                                                                    singleAppUpdate(ret2.data[0], true, function(ret3){
                                                                      if(ret3){
                                                                        _this.remarkFrame(ret2.data[0]);
                                                                        addNewField();
                                                                        fndecompressionZip();//解压压缩包 20200825 zxf
                                                                        api.toast({
                                                                            msg: '版本更新成功!',
                                                                            duration: 2000,
                                                                            location: 'top'
                                                                        });
                                                                      }else{
                                                                        api.toast({
                                                                            msg: "您的更新包出现异常！请联系管理员重新上传更新包",
                                                                            duration: 2000,
                                                                            location: 'top'
                                                                        });
                                                                      }
                                                              });
                                                        }

                                                    });
                                                }).catch(function() {
                                                  // on cancel
                                              });
                                                }
                                            });

                                        } else {
                                            api.toast({
                                                msg: '已经是最新版了',
                                                duration: 2000,
                                                location: 'top'
                                            });

                                        }
                                    }
                                }
                            }
                        });
                    }
                },
                remarkFrame: function(params) {
                    api.openFrame({
                        name: 'updateVersion_frame',
                        url: '../work/updateVersion_frame.html',
                        rect: {
                            x: 0,
                            y: 0,
                            w: 'auto',
                            h: 'auto'
                        },
                        bounces: false,
                        pageParam: {
                            type: 'remark',
                            number: 'one',
                            data: params
                        },
                        bgColor: 'rgba(0,0,0,0.1)',
                    });
                },
                fnCheckUpdate: function(type) { //检查云平台更新
                    var mam = api.require('mam');
                    var _this = this;
                    api.showProgress({
                        style: 'default',
                        animationType: 'fade',
                        title: '加载中...',
                        modal: false
                    });
                    mam.checkUpdate(function(ret, err) {
                        api.hideProgress();
                        if (ret.status) {
                            var result = ret.result;
                            if (result.update == true && result.closed == false) {
                                if (type == 1) {
                                    _this.cloudHasUpdate = true;
                                } else {
                                    api.openFrame({
                                        name: 'checkupdate_frm',
                                        url: './checkupdate_frm.html',
                                        rect: {
                                            x: 0,
                                            y: 0,
                                            w: 'auto',
                                            h: 'auto'
                                        },
                                        pageParam: {
                                            version: result.version,
                                            updateTip: result.updateTip,
                                            source: result.source
                                        },
                                        bounces: false,
                                        bgColor: 'rgba(0,0,0,0.4)',
                                    });
                                }
                            } else {
                                if (type == 0) {
                                    api.toast({
                                        msg: '当前已是最新版本',
                                        duration: 2000,
                                        location: 'top'
                                    });
                                }

                            }
                        } else {
                            if (type == 0) {
                                api.toast({
                                    msg: '服务器繁忙，请稍后再试',
                                    duration: 2000,
                                    location: 'bottom'
                                });
                            }
                        }
                    })
                },
                checkUpdateCloud: function() {
                  // 云平台有更新
                  if (!this.cloudHasNew) {
                    // 没有更新
                    api.toast({
                        msg: '已经最新版本了',
                        duration: 2000,
                        location: 'top'
                    });
                    return;
                  }
                  var userLoginInformation = $api.getStorage('userLoginInformation');
                  var getLoginInfo = $api.getStorage('getLoginInfo');
                  if (getLoginInfo != undefined) { //判断用户是否登录
                      fnPost('services/app/AppVersionService/CheckAppVsersionByTeantId', {
                          body: JSON.stringify({
                              "tenantId": getLoginInfo.tenantInfo.tenantId
                          })
                      }, 'application/json', true, false, function(ret, err) {
                          api.hideProgress();
                          var callbackResult = ret.result;
                          var userLoginInformation = $api.getStorage('userLoginInformation'); //用户信息
                          // 云平台数据
                          var cloudData;
                          // 先判断云平台是否有更新
                          for (var i = 0; i < callbackResult.length; i++) {
                            if (callbackResult[i].moduleCode == 'WaterStarOne-Cloud-S9-APP') {
                              cloudData = callbackResult[i];
                              break;
                            }
                          }
                          if (cloudData == undefined) {
                            // 找不到WaterStarOne-Cloud-S9-APP，没有更新
                            return;
                          }

                          var db = api.require("db");
                          db.selectSql({
                              name: 'Wsdatabase',
                              sql: 'SELECT * FROM VersionInfoSheets where moduleCode = "'+ cloudData.moduleCode +'"and userName="'+versionCurentUserName+'"'
                          }, function(ret, err) {
                            // exit();
                            console.log(JSON.stringify(ret.data));
                              if (ret.status) {
                                  if (ret.data.length == 0) { //判断数据是否存在  存在则更新数据，不存在，则添加数据
                                    // console.log('不存在数据');
                                      // insertDataToVersionInfoSheets(curentData, newVersionData);
                                      var data = cloudData;
                                      api.openFrame({
                                          name: 'updateVersion_frame',
                                          url: 'widget://html/work/updateVersion_frame.html',
                                          rect: {
                                              x: 0,
                                              y: 0,
                                              w: 'auto',
                                              h: 'auto'
                                          },
                                          bounces: false,
                                          pageParam: {
                                              type: 'cloudUpdate',
                                              data: data,
                                              typeFlag: false
                                          },
                                          bgColor: 'rgba(0,0,0,0.1)',
                                      });

                                      // db.executeSql({
                                      //     name: 'Wsdatabase',
                                      //     // sql: `INSERT INTO VersionInfoSheets (Id,sort,versionNo,newVersionNo,tenantId,isHasNewVersion,moduleCode,moduleName, packetUrl,creationTime,creatorUserId,creatorUserName,lanApiUrl,netApiUrl,remark,tenantName,newPackageUrl,userName) VALUES (${curentData.id},${curentData.sort},${curentData.versionNo},0,${curentData.tenantId},0,"${curentData.moduleCode}","${curentData.moduleName}","${curentData.packetUrl}","${curentData.creationTime}","${curentData.creatorUserId}","${curentData.creatorUserName}","${curentData.lanApiUrl}","${curentData.netApiUrl}","${curentData.remark}","${curentData.tenantName}","","${versionCurentUserName}")`
                                      //     sql: 'INSERT INTO VersionInfoSheets (Id,sort,versionNo,newVersionNo,tenantId,isHasNewVersion,moduleCode,moduleName, packetUrl,creationTime,creatorUserId,creatorUserName,lanApiUrl,netApiUrl,remark,tenantName,newPackageUrl,userName) VALUES (' + cloudData.id + ',' + cloudData.sort + ',' + cloudData.versionNo + ',0,' + cloudData.tenantId + ',0,"' + cloudData.moduleCode + '","' + cloudData.moduleName + '","' + cloudData.packetUrl + '","' + cloudData.creationTime +
                                      //     '","' + cloudData.creatorUserId + '","' + cloudData.creatorUserName + '","' + cloudData.lanApiUrl + '","' + cloudData.netApiUrl + '","' + cloudData.remark + '","' + cloudData.tenantName + '","","' + versionCurentUserName +'")'
                                      // }, function(rets, err) {
                                      //   // console.log(JSON.stringify(ret));
                                      //   if (rets.status) {
                                      //     // 插入成功,下载压缩包
                                      //     downLoadZipData(cloudData, false);
                                      //   }
                                      // })
                                  } else {
                                    // console.log('存在数据');
                                    db.selectSql({
                                        name: 'Wsdatabase',
                                        sql:' SELECT * FROM VersionInfoSheets WHERE moduleCode = "' + cloudData.moduleCode + '" and versionNo = ' + cloudData.versionNo+' and packetUrl = "' + cloudData.packetUrl + '" and userName="'+versionCurentUserName+'"'
                                    }, function(rets, err) {
                                      if (rets.status) {
                                        if (rets.data.length == 0) {
                                          // console.log('有新版本');
                                          // 不存在数据,更新数据
                                          db.executeSql({
                                              name: 'Wsdatabase',
                                              // sql: `UPDATE  VersionInfoSheets SET Id = ${curentData.id},sort = ${curentData.sort},newVersionNo = ${curentData.versionNo},tenantId = ${curentData.tenantId},isHasNewVersion = "1",creationTime = '${curentData.creationTime}',creatorUserId = '${curentData.creatorUserId}',creatorUserName = '${curentData.creatorUserName}',lanApiUrl = '${curentData.lanApiUrl}',netApiUrl = '${curentData.netApiUrl}',remark = '${curentData.remark}',tenantName = '${curentData.tenantName}',newPackageUrl = '${curentData.packetUrl}' WHERE moduleCode = '${curentData.moduleCode}' and userName = '${versionCurentUserName}'`
                                              sql:' UPDATE  VersionInfoSheets SET Id = '+cloudData.id+',sort = '+cloudData.sort+',newVersionNo = '+cloudData.versionNo+',tenantId = '+cloudData.tenantId+',isHasNewVersion = "1",creationTime = "'+cloudData.creationTime+'",creatorUserId = "'+cloudData.creatorUserId+'",creatorUserName = "'+cloudData.creatorUserName+'",lanApiUrl = "'+cloudData.lanApiUrl+'",netApiUrl = "'+cloudData.netApiUrl+'",remark = "'+cloudData.remark+'",tenantName = "'+cloudData.tenantName+'",newPackageUrl = "'+cloudData.packetUrl
                                              +'" WHERE moduleCode = "'+cloudData.moduleCode+'" and userName = "'+versionCurentUserName+'"'
                                          }, function(ret1, err) {
                                            // console.log(JSON.stringify(ret1));
                                            if (ret1.status) {
                                              // 更新成功，提示有新版本
                                              db.selectSql({
                                                  name: 'Wsdatabase',
                                                  // sql: ' SELECT * FROM VersionInfoSheets '
                                                  sql: ' SELECT * FROM VersionInfoSheets WHERE moduleCode = "' + cloudData.moduleCode + '" and isHasNewVersion = "1" and newVersionNo = ' + cloudData.versionNo + ' and userName="'+versionCurentUserName+'"'
                                              }, function(ret2, err) {
                                                // console.log('--------------------')
                                                // console.log(JSON.stringify(ret2));
                                                if (ret2.status) {
                                                  if (ret2.data != 0) {
                                                    var data = ret2.data[0];
                                                    // exit();
                                                    api.openFrame({
                                                        name: 'updateVersion_frame',
                                                        url: 'widget://html/work/updateVersion_frame.html',
                                                        rect: {
                                                            x: 0,
                                                            y: 0,
                                                            w: 'auto',
                                                            h: 'auto'
                                                        },
                                                        bounces: false,
                                                        pageParam: {
                                                            type: 'cloudUpdate',
                                                            data: data,
                                                            typeFlag: true
                                                        },
                                                        bgColor: 'rgba(0,0,0,0.1)',
                                                    });
                                                  }
                                                }
                                              })
                                            }
                                          })
                                        } else {
                                          // console.log('没有新版本');
                                          return;
                                          // 没有新版本，判断内部有没有更新
                                        }
                                      }
                                    })
                                  }
                              }
                          });
                      })
                  }
                },
                // 判断是否有更新
                hasNewCloudVersion: function() {
                  var userLoginInformation = $api.getStorage('userLoginInformation');
                  var getLoginInfo = $api.getStorage('getLoginInfo');
                  var _this = this;
                  if (getLoginInfo != undefined) { //判断用户是否登录
                      fnPost('services/app/AppVersionService/CheckAppVsersionByTeantId', {
                          body: JSON.stringify({
                              "tenantId": getLoginInfo.tenantInfo.tenantId
                          })
                      }, 'application/json', true, false, function(ret, err) {
                          api.hideProgress();
                          if (ret && ret.success) {
                            var appVersion = api.appVersion;
                            var appName = api.appName;
                            appVersion = transVersion(appVersion);
                            // appVersion = transVersion('00.00.02');
                            // var versionNum = '';
                            // if (appName != '综合水务平台') {
                            //   // 是测试包，包名为自定义版本号
                            //   appVersion = appName;
                            // }
                            console.log(appVersion);
                            console.log(typeof(appVersion));
                            console.log(appName);
                              var callbackResult = ret.result;
                              var userLoginInformation = $api.getStorage('userLoginInformation'); //用户信息
                              // 云平台数据
                              var cloudData;
                              // 先判断云平台是否有更新
                              // console.log(JSON.stringify(callbackResult));
                              for (var i = 0; i < callbackResult.length; i++) {
                                if (callbackResult[i].moduleCode == 'WaterStarOne-Cloud-S9-APP') {
                                  cloudData = callbackResult[i];
                                  break;
                                }
                              }
                              if (cloudData == undefined) {
                                // 找不到WaterStarOne-Cloud-S9-APP，没有更新，判断内部是否有更新
                                // alert('线上没找到数据');
                                _this.cloudHasNew = false;
                                // alert(_this.cloudHasNew);
                                return;
                              }

                              appVersion = parseFloat(appVersion);
                              var cloudDataVersion = parseFloat(cloudData.versionNo);
                              // alert(appVersion);
                              // console.log(appVersion == cloudData.versionNo);
                              if (appVersion == cloudDataVersion) {
                                // 当前APP的版本号与线上的版本号不一致，有更新
                                // alert('当前版本等于线上版本');
                                // console.log('当前版本等于线上版本');
                                _this.cloudHasNew = false;
                                // alert(_this.cloudHasNew);
                              } else if (cloudDataVersion > appVersion) {
                                // alert('线上版本大于当前版本，有更新');
                                // console.log('线上版本大于当前版本，有更新');
                                _this.cloudHasNew = true;
                                // alert(_this.cloudHasNew);
                              } else {
                                // alert('线上版本小于当前版本，不更新');
                                // console.log('线上版本小于当前版本，不更新');
                                _this.cloudHasNew = false;
                                // alert(_this.cloudHasNew);
                              }
                          } else {
                              api.toast({
                                  msg: '网络无法连接，请检查网络配置',
                                  duration: 2000,
                                  location: 'top'
                              });
                          }
                      });
                  }
                }
            },
            mounted: function() {
                this.initList();
                this.fnCheckUpdate(1);
                this.hasNewCloudVersion();
            }
        });
    }
</script>

</html>
